services:
  store-migration:
    build:
      context: ./store-backend
      target: migration
      dockerfile: ./Dockerfile
    environment:
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
  store-backend:
    build:
      context: ./store-backend
      target: dev
      dockerfile: ./Dockerfile
    ports:
      - 8000:8000
    volumes:
      - ./store-backend/src:/app/src
      - ./store-backend/alembic:/app/alembic
      - ./store-backend/alembic.ini:/app/alembic.ini
      - ./store-backend/pyproject.toml:/app/pyproject.toml
      - ./store-backend/poetry.lock:/app/poetry.lock
    environment:
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - CORS_ORIGINS=${CORS_ORIGINS}
    depends_on:
      store-migration:
        condition: service_completed_successfully
    