name: Backend CI

on:
    pull_request:
        paths:
            - 'store-backend/**'

jobs:
    test-backend:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - name: Install Poetry
              uses: snok/install-poetry@v1
              with:
                version: 1.7.1
                virtualenvs-create: true
                virtualenvs-in-project: true

            - name: Install Dependencies
              run: |
                cd store-backend
                poetry install
            - name: Run tests
              run: |
                cd store-backend
                poetry run pytest tests/test_product_router.py -v