name: Backend CI

on:
    pull_request:
        paths:
            - 'store_backend/**'

jobs:
    test-backend:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - name: Install Dependencies
              run: |
                cd backend
                npm install
            - name: Run tests
              run: |
                cd store-backend
                poetry run tests/test_proyect_router.py -v